body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  /* imp */
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 50px;
  /* border: 1px solid red; */
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.form {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* imp */
  width: 100%;
  /* imp */
  max-width: 300px;
}

button {
  background-color: #007bff;
  color: white;
  /* border none is remove the border */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  /* imp */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0062cc;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}




/* 
  both are most important
  width: 100%;
  max-width: 300px;

*/